.icon-bar {
    width: 100%; /* Full-width */
    background-color: #ec5a05; /* Dark-grey background */
    overflow:auto; 
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 15%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 23px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #cfbfbf; /* Add a hover color */
}

.active {
    background-color: #ccc; /* Make the active tab gray */
    color: #999; /* Make the text gray */
    border-radius: 0; /* Remove the border radius */
    font-size: 18px; /* Reduce the font size */
}

.container {
    display: inline-block;
    cursor: pointer;
}
.icon-bar a.active {
    background-color: #ccc; /* Make the active tab gray */
    color: #999; /* Make the text gray */
    border-radius: 0; /* Remove the border radius */
    font-size: 18px; /* Reduce the font size */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /*Dark Theme*/
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  button
  {
    background-color: aquamarine;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: fit-content;
    width: fit-content;
    border-radius: 70%;
    border-color: blue;
    border
  }

  .gita{
    width: 30px;
    height: 50px;
  }
  .gita img{
    size: 44px;
    width: 30px;
    height: 30px;
    background-color: #ec5a05;
  }

/********** Popular Courses CSS Starts **********/  
.bg-lightgrey {
     background-color:#f7f7f7;
}
 .course-list {
     text-align: center;
     margin-bottom: 20px;
     padding: 20px 0px;
     width: 90%;
     float: left;
}
 .course-list i {
     font-size:20px;
}
 .popular-course h2 {
     color: #064727;
     font-size: 28px;
}
 .popular-course p {
     font-size: 14px;
     margin-top: 10px;
     line-height: 25px;
     font-weight: 400;
}
 .popular-course a {
     text-decoration: none;
     color: #064727;
     float: left;
     margin-top: 20px;
}
 .bg-yellow {
     background:#ffc252 
}
 .bg-blue {
     background: #add8e6;
}
 .bg-green {
     background: #90ee90;
}
 .bg-grey {
     background: #d3d3d3;
}
/********** Popular Courses CSS Ends **********/

/********** Footer CSS Starts **********/  
.footer-section {
     background-color:#1f2836;
     padding-top: 70px;
     padding-bottom:70px;
     width:100%;
     float:left;
}
 .footer-link h2 {
     color:#fff;
     text-align:left;
     margin-bottom: 20px;
}
 .footer-link p {
     color: #fff;
     line-height: 20px;
     padding: 0px 30px 0px 0px;
}
 .social-icon {
     list-style: none;
     margin-top:20px;
}
 .social-icon li {
     float: left;
     padding-left: 10px;
}
 .social-icon li a i {
     color: #fff;
     font-size: 18px;
     padding: 5px 10px;
}
 .social-icon .fa-twitter {
     background: #2ed1ff;
}
 .social-icon .fa-whatsapp {
     background: #4CAF50;
}
 .social-icon .fa-facebook {
     background: #3b5998;
}
 .social-icon .fa-linkedin {
     background: #3b5998;
}
 .footer-menu {
     padding: 0px;
     width: 100%;
     float: left;
     list-style: none;
}
 .footer-menu li {
     width: 50%;
     float: left;
     list-style: none;
     margin-bottom: 10px;
}
 .footer-menu li a {
     color:#fff;
     text-decoration: none;
}
 .footer-contact {
     list-style: none;
     padding: 0px;
     width: 100%;
     float: left;
     color: #fff;
}
 .footer-contact li {
     width: 100%;
     float: left;
     margin-bottom: 10px;
}
 .footer-contact span {
     padding-left:5px;
}
 .newsletter p {
     margin-bottom:10px;
}
 .newsletter input {
     width: 100%;
     float: left;
     padding:10px;
}
 .newsletter button {
     width: 100%;
     float: left;
     padding: 10px;
     border: none;
     border-radius: 4px;
     background-color: gold;
     margin-top:10px;
}
/********** Footer CSS Ends **********/
